cmaketest
cmakerelease
cmakedebug
BUILD
FOLDER
*.o
install_manifest.txt
include

build/
bin/
out/
cmake-build-*/
*/cmake-build-*/
Debug/
Release/
MinSizeRel/
RelWithDebInfo/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CPackConfig.cmake
_CPack_Packages/
